absl-py
altair
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
debugpy
decorator
faiss-cpu
flatbuffers
google-auth
grpcio
h5py
idna
ipykernel
ipython
Jinja2
joblib
jsonschema
keras
Markdown
matplotlib
nibabel
numpy
opencv-python-headless
pandas
plotly
protobuf
pyarrow
pytz
requests
scikit-learn
scipy
seaborn
six
streamlit
tensorboard
tensorflow
tensorflow-estimator
urllib3
watchdog
